<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Tips.SiteMaster" %>

<!DOCTYPE html>

<html lang="es">

<body>
    <form runat="server">
        
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            
        </div>

    </form>
</body>
</html>
