* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../fondo.jpg');
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 41%;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;

    a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover:not(.active) {
            background-color: #111;
        }
    }
}

.active {
    background-color: #4CAF50;
}

.form-register {
    width: 400px;
    background: #24303C;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Calibri;
    color: white;
    box-shadow: 7px 13px 37px #000;

    h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }
}

.controls, .dropdown {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: Calibri;
    font-size: 18px;
    color: white;
}

.form-register {
    p {
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }

    .buttons {
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }
}

#contenedorRes {
    width: 400px;
    background: #24303C;
    padding: 30px;
    margin: auto;
    margin-top: 0px;
    border-radius: 4px;
    font-family: Calibri;
    color: white;
    box-shadow: 7px 13px 37px #000;
}
